<div class="adopt-text shadow-sm">
  <h2>Interested in adopting a dog?</h2>
  <p>See our list down below.</p>
  <p><img src="../../../assets/icons/arrow-down-sign-to-navigate.png" alt="Down Arrow Icon by Flaticon"></p>
</div>
<div class="container-boxes">
  <div class="boxes-flex" >
    <div *ngFor="let dog of dogs" class="box-adopt">
        <div class="card shadow-sm pet">
            <div class="card-header">
              <img src="{{ dog.image }}">
            </div>
            <div class="card-body">
                <h4>{{ dog.name}}</h4>
                <a href="#" routerLink="/dogs" (click)="dog.hidden = !dog.hidden">Show informations</a>
              <ul class="list-unstyled mt-3 mb-4" [hidden]="dog.hidden">
                <li>{{ dog.gender}}</li>
                <li>{{ dog.age }}</li>
                <li>{{ dog.status }}</li>
              </ul>
              <button type="button" (click)="adopt(dog.id)" class="btn btn-lg btn-block">Adopt</button>
            </div>
          </div>

    </div>
  </div>
</div>