<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4  bg-white border-bottom shadow">
    <h5 class="my-0 mr-md-auto logo">Adopt <img src="../../../assets/icons/pawprint.png" alt="Paw print icon by Flaticon"></h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" routerLink="/" href="#">Home</a>
      <a class="p-2 text-dark" routerLink="/cats" href="#">Cat Adoption</a>
      <a class="p-2 text-dark" routerLink="/dogs" href="#">Dog Adoption</a>
    </nav>
</div>
